@font-face {
  font-family: 'Panic';
  src: url('./Panic.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'RobotoSerif';
  src: url('./RobotoSerif.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

body {
  font-family: 'RobotoSerif';
  margin: 0;
}

a {
  color: white;
  text-decoration: none;
  cursor: pointer;
}

header {
  font-size: 1.5rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  gap: 5vw;
}

header a {
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 0 0 1.5rem 1.5rem;
  padding: 0 clamp(1rem, 2.5vw, 4rem);
  display: flex;
  align-items: center;
  transition: all 0.25s ease-in-out;
}

header a:hover {
  color: #EFDA2A;
  background-color: rgba(0, 0, 0, 1);
}

.banner {
  color: white;
  background: url('./mind-blown.jpg') 50% 100% no-repeat;
  width: 100vw;
  height: calc(100vh);
  background-size: auto 115%;
  overflow: hidden;
  display: grid;
  grid-template-rows: auto 1fr auto;
  align-items: center;
  justify-content: center;
}

h1 {
  font-family: 'Panic';
  font-size: 6rem;
  line-height: 4rem;
  text-shadow: 0 0 2rem black;
  text-align: center;
  margin: 0;
}

h1 span {
  font-family: 'RobotoSerif';
  font-size: 2.5rem;
  margin: 0;
}

footer {
  font-size: 1rem;
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  text-shadow: 0 0 0.4rem black;
}

footer a:hover {
  text-decoration: underline;
}

footer p:first-child {
  padding-left: 3vw;
}

footer p:last-child {
  padding-right: 3vw;
}

@media screen and (max-width: 768px) {
  header {
    font-size: 1.25rem;
  }

  h1 {
    font-size: 5.5rem;
    line-height: 5.5rem;
  }

  h1 span {
    font-size: 2rem;
  }

  footer {
    font-size: 0.8rem;
  }
}