@font-face {
  font-family: 'Panic';
  src: url('./Panic.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'RobotoSerif';
  src: url('./RobotoSerif.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

body {
  font-family: 'RobotoSerif';
  margin: 0;
}

.banner {
  color: white;
  background: url('./mind-blown.jpg') 50% 100% no-repeat;
  width: 100vw;
  height: calc(100vh);
  background-size: auto 115%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  font-family: 'Panic';
  font-size: 6rem;
  line-height: 4rem;
  text-shadow: 0 0 2rem black;
  text-align: center;
  margin: 0;
}

h1 span {
  font-family: 'RobotoSerif';
  font-size: 2.5rem;
  margin: 0;
}

footer {
  font-size: 1rem;
  position: fixed;
  bottom: 0;
  width: 95%;
  display: flex;
  justify-content: space-between;
  text-shadow: 0 0 1rem black;
}

footer a {
  color: white;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}

@media screen and (max-width: 768px) {
  h1 {
    font-size: 5rem;
    line-height: 5rem;
  }

  h1 span {
    font-size: 2.5rem;
  }

  footer {
    font-size: 0.8rem;
  }
}